{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 50.701975623461614,
        "longitude": 4.421578645706178,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Home",
        "time_zone": "Europe/Brussels",
        "external_url": null,
        "internal_url": null
    }
}